<!DOCTYPE html>
<html>
<head>

 <!-- <link type="text/css" rel="stylesheet" href="/static/main.css" />-->

  <title>Fönstertittaren</title>
 <script src="js/jquery-1.10.1.min.js"></script>
  <script>
      var fonstertitt = {};
      fonstertitt.webdb = {};
      fonstertitt.webdb.db = null;
      
      fonstertitt.webdb.open = function() {
        var dbSize = 5 * 1024 * 1024; // 5MB
        fonstertitt.webdb.db = openDatabase("Surveys", "1.0", "Survey Manager", dbSize);
      }
      
      fonstertitt.webdb.createTable = function() {
        var db = fonstertitt.webdb.db;
        db.transaction(function(tx) {
          tx.executeSql("CREATE TABLE IF NOT EXISTS surveys(ID INTEGER PRIMARY KEY ASC, todo TEXT, added_on DATETIME)", []);
        });
      }
      
      fonstertitt.webdb.addSurvey = function(surveyText) {
        var db = fonstertitt.webdb.db;
        db.transaction(function(tx){
          var addedOn = new Date();
          tx.executeSql("INSERT INTO surveys(todo, added_on) VALUES (?,?)",
              [surveyText, addedOn],
              fonstertitt.webdb.onSuccess,
              fonstertitt.webdb.onError);
         });
      }
      
      fonstertitt.webdb.onError = function(tx, e) {
        alert("There has been an error: " + e.message);
      }
      
      fonstertitt.webdb.onSuccess = function(tx, r) {
        // re-render the data.
        fonstertitt.webdb.getAllSurveyItems(loadSurveyItems);
      }
      
      
      fonstertitt.webdb.getAllSurveyItems = function(renderFunc) {
        var db = fonstertitt.webdb.db;
        db.transaction(function(tx) {
          tx.executeSql("SELECT * FROM surveys", [], renderFunc,
              fonstertitt.webdb.onError);
        });
      }
      
      fonstertitt.webdb.deleteSurvey = function(id) {
        var db = fonstertitt.webdb.db;
        db.transaction(function(tx){
          tx.executeSql("DELETE FROM surveys WHERE ID=?", [id],
              fonstertitt.webdb.onSuccess,
              fonstertitt.webdb.onError);
          });
      }
      
      function loadSurveyItems(tx, rs) {
        var rowOutput = "";
        var surveyItems = document.getElementById("surveyItems");
        for (var i=0; i < rs.rows.length; i++) {
          rowOutput += renderSurveys(rs.rows.item(i));
        }
      
        surveyItems.innerHTML = rowOutput;
      }
      
      function renderSurveys(row) {
        return "<li>" + row.todo  + " [<a href='javascript:void(0);'  onclick='fonstertitt.webdb.deleteSurvey(" + row.ID +");'>Delete</a>]</li>";
      }
      
      function init() {
        fonstertitt.webdb.open();
        fonstertitt.webdb.createTable();
        fonstertitt.webdb.getAllSurveyItems(loadSurveyItems);
      }
      
      function addSurvey() {
        var survey = document.getElementById("survey");
        fonstertitt.webdb.addSurvey(survey.value);
        survey.value = "";
      }
    </script>
  <script type="text/javascript">





  $(document).ready(function() {

      reloadSubmissions();

      //load submission entries stored in browser localstorage
      $("#reload").click(function(){
        reloadSubmissions();
      });

      //delete submitted item
      $(document).on("click", "#localvalues .submission > a", function(){
        console.log("clicked on submission " + $(this).attr("id") );
        localStorage.removeItem($(this).attr("id"));
        alert("you deleted submission " + $(this).attr("id"));
        reloadSubmissions();
      });

      //submit localstorage form entry
      $(document).on("click", "#localvalues .submission > button", function(){
        var entry = $(this).attr("id");
        console.log("clicked entry: " + entry);
        alert("you submitted entry" + $(this).attr("id"));

        postForm($("#target").attr('action'), window.localStorage.getItem(entry));
        reloadSubmissions();
      });

      //do we have HTML5 localstorage support?
      if(typeof(Storage)!=="undefined")
      {
        $("#storage").html("YEs, localstorage!");
      // Yes! localStorage and sessionStorage support!
      // Some code.....
      }
    else
      {
      // Sorry! No web storage support..
      }
    setInterval(function () {
      if (navigator.onLine) {
        $("#connection").html("Online!");
        $("#localvalues .submission > button").removeAttr("disabled");
      } else {
        $("#connection").html("Offline");
        $("#localvalues .submission > button").attr("disabled", "disabled");
      }
      
    }, 250);


      /*if(localStorage.formValues) {
        console.log("offline storage submitted");
        console.log("localStorage.formValues: "+ localStorage.formValues);
        postForm($("#target").attr('action'), localStorage.formValues);
      }*/
      

      

      $("#target").submit(function(){
        event.preventDefault();
        var formValues = $(this).serialize();
        var url = $(this).attr('action');
       postForm(url, formValues);
      })

     
  });
  //uploading process handling function
    function progressHandlingFunction(e){
        if(e.lengthComputable){
            $('progress').attr({value:e.loaded,max:e.total});
        }
    }

  function sendTextNew(txt) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/pic', true);
    xhr.responseType = 'text';
    xhr.onload = function(e) {
      if (this.status == 200) {
        console.log(this.response);
      }
    };
    xhr.send(txt);
  }

  function reloadSubmissions() {
    $("#localvalues").empty();
        var i = 0, //i is standing for int
        oJson = {}, //o is standing for object
        sKey; //s is standing for string
        while ((sKey = window.localStorage.key(i))) {
          oJson[sKey] = window.localStorage.getItem(sKey);
          i++;
        }
        console.log(oJson);

        for (var item in oJson) {
          if (!isNaN(item)) {
           $("#localvalues").append(
            "<div class=\"submission\" id=\"" + item +"\">Submission: " + item + 
            " <button id=\"" + item  + "\">Submit Entry</button><a href='#'id='" + item +"'>Delete</a></div>"
            );
          }
       
        }
  }

  function returnValue() {
    if (data == "true") {
      console.log("bravo!")
      return true;
    } else {
      return false;
    }
  }

  function postForm(url, formValues) {
    // Post to server or post to web storage
    if(navigator.onLine) {
      console.log("Online");
      $.post(url, formValues, function(data) {
        if (data == "true") {
          console.log("Awesome: "+ data);
        }
      });
    }
    else {
      console.log("Offline");
      if(typeof(Storage) !== "undefined") {
        console.log("Storage supported");
        localStorage.setItem(localStorage.length + 1, formValues);
        reloadSubmissions();
        //localStorage.formValues = formValues;
      }
    }
  }
  </script>
</head>

<body onload="init();">
  <a href="#" class="main-title">
    Fönstertittaren
  </a>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
 
</body>

</html>
