
{% extends "base.html" %}

	{% block header %}
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
		<script src="/js/jquery.formbuilder.js"></script>
		<link href="/css/jquery.formbuilder.css" media="screen" rel="stylesheet" />
		<script>
			$(function(){
				var form_id = "{{ form_id }}";
				if (form_id != "") {
					var load_url = "/loadform/" + form_id;
				} else {
					var load_url = '';
				};
				console.log(load_url);
				$('#my-form-builder').formbuilder({

					'save_url': '/formbuilder',
					'load_url': load_url,
					'useJson' : true,
					'main_form_id': "{{ form_id }}" //from jinja template... sorry for this stupidity. I didnt know any better.
				});
				$(function() {
					$("#my-form-builder ul").sortable({ opacity: 0.6, cursor: 'move'});
				});
			});
		</script>
	{% endblock %}
	{% block content %}

		<h2>Bygg checklista</h2>
		Checklista ID: <div id="checklist"></div>
		Namn: <div id="checklist-name"><input type="text" id="chk-list-name"/></div>
		<div id="my-form-builder"></div>

	{% endblock %}