{% extends "mainfile.html" %}
{% block surveys %}
<div data-role="content">

        <h2>
            Konsultchecklista - Utvändiga skador
        </h2>
        <form id="form" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <div id="checkboxes1" data-role="fieldcontain">
            <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Fasad
                </legend>
                <input id="radio6" name="fasad" value="soder" type="radio">
                <label for="radio6">
                    Söder
                </label>
                <input id="radio7" name="fasad" value="vaster" type="radio">
                <label for="radio7">
                    Väster
                </label>
                <input id="radio8" name="fasad" value="norr" type="radio">
                <label for="radio8">
                    Norr
                </label>
                <input id="radio9" name="fasad" value="oster" type="radio">
                <label for="radio9">
                    Öster
                </label>
            </fieldset>
        </div>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Fönstertyp
                </legend>
                <input id="radio1" name="fonstertyp" value="radio1" type="radio">
                <label for="radio1">
                    1
                </label>
                <input id="radio2" name="fonstertyp" value="radio2" type="radio">
                <label for="radio2">
                    2
                </label>
                <input id="radio3" name="fonstertyp" value="radio3" type="radio">
                <label for="radio3">
                    3
                </label>
                <input id="radio4" name="fonstertyp" value="radio4" type="radio">
                <label for="radio4">
                    4
                </label>
                <input id="radio5" name="fonstertyp" value="radio5" type="radio">
                <label for="radio5">
                    5
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <label for="textinput2">
                Fönsternummer/litterering
            </label>
            <input name="fonsternummer" id="textinput2" placeholder="" value="" type="text"
            data-mini="true">
        </div>
        <h3>
        	Bild
        </h3>
        <input id="fileinput1" data-maxwidth="300" data-maxheight="300" type="file" name="file" />
        <div id="imageinfo1"></div>
        <img id="outputImage1" />
        <br />
        <h2>
            Skador
        </h2>
        <h3>
            Färgskador
        </h3>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Karmfront
                </legend>
                <input id="radio10" name="fargskada1" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="fargskada1" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="fargskada1" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="fargskada1" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Karmfront
                </legend>
                <input id="radio10" name="fargskada2" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="fargskada2" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="fargskada2" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="fargskada2" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Karmfals
                </legend>
                <input id="radio10" name="fargskada2-1" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="fargskada2-1" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="fargskada2-1" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="fargskada2-1" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Karmmellansida
                </legend>
                <input id="radio10" name="fargskada3" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="fargskada3" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="fargskada3" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="fargskada3" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Bågfront
                </legend>
                <input id="radio10" name="fargskada4" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="fargskada4" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="fargskada4" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="fargskada4" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Synlig bågmellansida
                </legend>
                <input id="radio10" name="fargskada5" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="fargskada5" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="fargskada5" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="fargskada5" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Dold bågmellansida
                </legend>
                <input id="radio10" name="fargskada6" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="fargskada6" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="fargskada6" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="fargskada6" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Bågkanter
                </legend>
                <input id="radio10" name="fargskada7" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="fargskada7" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="fargskada7" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="fargskada7" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Lister/foder
                </legend>
                <input id="radio10" name="fargskada8" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="fargskada8" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="fargskada8" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="fargskada8" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Fönsterbläck/fönsterbräda
                </legend>
                <input id="radio10" name="fargskada9" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="fargskada9" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="fargskada9" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="fargskada9" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Droppbläck/droppbräda
                </legend>
                <input id="radio10" name="fargskada10" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="fargskada10" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="fargskada10" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="fargskada10" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <h3>
        	Bild
        </h3>
        <input id="fileinput2" data-maxwidth="300" data-maxheight="300" type="file" name="file" />
        <div id="imageinfo2"></div>
        <img id="outputImage2" />
        <br />
        <div data-role="fieldcontain">
                <label for="textarea1">
                        Kommentar
                </label>
                <textarea name="kommentar1" id="textarea1" placeholder="" data-mini="true"></textarea>
        </div>
        <h3>
            Träskador
        </h3>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Röta karmbotten
                </legend>
                <input id="radio10" name="traskada1" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada1" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada1" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada1" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Karmsidostycken
                </legend>
                <input id="radio10" name="traskada2" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada2" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada2" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada2" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Bågbotten
                </legend>
                <input id="radio10" name="traskada3" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada3" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada3" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada3" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Bågsidostycken
                </legend>
                <input id="radio10" name="traskada4" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada4" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada4" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada4" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>               
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Spröjs
                </legend>
                <input id="radio10" name="traskada5" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada5" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada5" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada5" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Mittpost
                </legend>
                <input id="radio10" name="traskada6" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada6" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada6" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada6" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div> 
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Tvärpost
                </legend>
                <input id="radio10" name="traskada7" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada7" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada7" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada7" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div> 
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Lister/foder
                </legend>
                <input id="radio10" name="traskada8" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada8" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada8" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada8" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Trätappar, båghörn
                </legend>
                <input id="radio10" name="traskada9" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada9" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada9" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada9" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Gråträ karm
                </legend>
                <input id="radio10" name="traskada10" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada10" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada10" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada10" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>  
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Gråträ båge
                </legend>
                <input id="radio10" name="traskada11" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada11" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada11" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada11" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Torksprickor karm
                </legend>
                <input id="radio10" name="traskada12" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada12" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada12" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada12" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Torksprickor båge
                </legend>
                <input id="radio10" name="traskada13" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="traskada13" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="traskada13" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="traskada13" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <h3>
        	Bild
        </h3>
        <input id="fileinput3" data-maxwidth="300" data-maxheight="300" type="file" name="file" />
        <div id="imageinfo3"></div>
        <img id="outputImage3" />
        <br />
        <div data-role="fieldcontain">
                <label for="textarea1">
                        Kommentar
                </label>
                <textarea name="kommentar2" id="textarea2" placeholder="" data-mini="true"></textarea>
        </div>
        <h3>
            Övriga skador
        </h3>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Kittskador
                </legend>
                <input id="radio10" name="ovrigaskador1" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="ovrigaskador1" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="ovrigaskador1" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="ovrigaskador1" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Tryckkitt
                </legend>
                <input id="radio10" name="ovrigaskador2" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="ovrigaskador2" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="ovrigaskador2" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="ovrigaskador2" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Toppförsegling
                </legend>
                <input id="radio10" name="ovrigaskador3" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="ovrigaskador3" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="ovrigaskador3" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="ovrigaskador3" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Kondens
                </legend>
                <input id="radio10" name="ovrigaskador4" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="ovrigaskador4" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="ovrigaskador4" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="ovrigaskador4" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Etsning på glas
                </legend>
                <input id="radio10" name="ovrigaskador5" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="ovrigaskador5" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="ovrigaskador5" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="ovrigaskador5" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Trasigt glas
                </legend>
                <input id="radio10" name="ovrigaskador6" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="ovrigaskador6" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="ovrigaskador6" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="ovrigaskador6" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div> 
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Tätning karm/vägg
                </legend>
                <input id="radio10" name="ovrigaskador7" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="ovrigaskador7" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="ovrigaskador7" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="ovrigaskador7" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Anslutning fönsterbläck
                </legend>
                <input id="radio10" name="ovrigaskador8" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="ovrigaskador8" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="ovrigaskador8" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="ovrigaskador8" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Behov av justering
                </legend>
                <input id="radio10" name="ovrigaskador9" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="ovrigaskador9" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="ovrigaskador9" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="ovrigaskador9" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Mekanisk skada
                </legend>
                <input id="radio10" name="ovrigaskador10" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="ovrigaskador10" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="ovrigaskador10" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="ovrigaskador10" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <h3>
        	Bild
        </h3>
        <input id="fileinput4" data-maxwidth="300" data-maxheight="300" type="file" name="file" />
        <div id="imageinfo4"></div>
        <img id="outputImage4" />
        <br />
        <div data-role="fieldcontain">
                <label for="textarea1">
                        Kommentar
                </label>
                <textarea name="kommentar3" id="textarea1" placeholder="" data-mini="true"></textarea>
        </div>
        <h3>
            Beslag, korrosionsskada
        </h3>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Utanpåliggande hörnjärn
                </legend>
                <input id="radio10" name="beslag1" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="beslag1" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="beslag1" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="beslag1" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Bärgångjärn
                </legend>
                <input id="radio10" name="beslag2" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="beslag2" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="beslag2" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="beslag2" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>
                    Uppställningsbeslag
                </legend>
                <input id="radio10" name="beslag3" value="1" type="radio">
                <label for="radio10">
                    Inga
                </label>
                <input id="radio11" name="beslag3" value="2" type="radio">
                <label for="radio11">
                    Små
                </label>
                <input id="radio12" name="beslag3" value="3" type="radio">
                <label for="radio12">
                    Måttliga
                </label>
                <input id="radio13" name="beslag3" value="4" type="radio">
                <label for="radio13">
                    Kraftiga
                </label>
            </fieldset>
        </div>
         <h3>
        	Bild
        </h3>
        <input id="fileinput5" data-maxwidth="300" data-maxheight="300" type="file" name="file" />
        <div id="imageinfo5"></div>
        <img id="outputImage5" />
        <br />
        <div data-role="fieldcontain">
                <label for="textarea1">
                        Kommentar
                </label>
                <textarea name="kommentar3" id="textarea1" placeholder="" data-mini="true"></textarea>
        </div>
        <div data-role="fieldcontain">
                <label for="textarea1">
                        Övrigt
                </label>
                <textarea name="ovrigt" id="textarea1" placeholder="" data-mini="true"></textarea>
        </div>


        <!-- Currently not displaying Audio File Input
        Audio<br />
        <div><input type="file" id="audioinput" accept="audio/*;capture=microphone"></div><br /><br />
        <div>
            <input type="button" id="convertaudio" data-inline="true" value="Convert Audio">
            <div id="audioinfo"></div>
        </div>
        -->
        <h2>
        	Bild
        </h2>
        <!--
        <input id="fileinput5" data-maxwidth="300" data-maxheight="300" type="file" name="file" />
        <div id="imageinfo5"></div>
        <br />
        <input type="button" data-inline="true" value="Upload and Convert Image" id="resize" />
        <div>Resized image</div>
        <img id="outputImage" />-->
        <input type="submit" id="submit" value="Submit Button" />
        </form>
    </div>
{% endblock %}